.content {
}

body {
	padding-top: 10px;
	padding-bottom: 40px;
}

/* center logo on medium devices */
@media (min-width: 769px) and  (max-width: 991px) {
	.navbar-header {
		width: 100%;
	}

	.navbar-brand {
		width: 100%;
		text-align: center;
	}

	.navbar-collapse.collapse {
		display: table !important;
		margin: auto;
	}
}

.vbottom {
	float: none;
	display: inline-block;
	vertical-align: bottom;

	/* whitespace removal hack (inline-block accounts whitespaces between elements) */
	margin: 0 -0.125em;
}

.project-img {
	width: 480px;
}

.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
