.content {
}

body {
	padding-top: 10px;
	padding-bottom: 40px;
}

/* center logo on medium devices */
@media (min-width: 769px) and  (max-width: 991px) {
	.navbar-header {
		width: 100%;
	}

	.navbar-brand {
		width: 100%;
		text-align: center;
	}

	.navbar-collapse.collapse {
		display: table !important;
		margin: auto;
	}
}

.vbottom {
	float: none;
	display: inline-block;
	vertical-align: bottom;

	/* whitespace removal hack (inline-block accounts whitespaces between elements) */
	margin: 0 -0.125em;
}

.project-img {
	width: 480px;
}

.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.left-with-margin {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.right-with-margin {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

.borderless {
	border: 0px;
}

.article-list h3 {
  margin-top: 5px;
}
.article-list small.date {
  color: #999;
}

.article__image-left {
  float: left;
  padding-right: 20px;
  padding-bottom: 10px;
}
.article__image-right {
  float: right;
  padding-left: 20px;
  padding-bottom: 10px;
}

.panel-sponsors img {
  max-width: 220px;
}

.album .container {
  width: 98%;
}

.olControlPanZoomBar {
	z-index: 750 !important;
}

.no-list-margin {
	margin-left: 0px;
}


.sponsor-ovh img {
  max-height: 100px;
}
.page-sponsors .sponsor-detail{
  border-top: 1px solid #ddd;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.page-sponsors .sponsor-ovh-news {
  margin-top: 10px;
}
.page-sponsors .sponsor-ovh-news iframe {
  width: 100%;
  min-height: 400px;
  border: none;
}