---
title: Über den Oldenburger Hackspace
---

{% extends "two-column-large.j2" %}

{% block mainbox %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Über uns...</h3>
	</div>
	<div class="panel-body">
		<p>Im Juli 2011 haben wir den gemeinnützigen Verein Kreativität trifft
		Technik gegründet und sich zum Ziel gesetzt, einen Hackspace, einen
		offenen Raum für Technikaffine und Kreativschaffende in Oldenburg zu
		errichten.</p>

		<p>Seit Anfang November 2011 haben wir es geschafft und haben einen
		Raum, den Mainframe. Hier treffen wir uns zum gemeinsamen basteln und
		realisieren Projekte, wie z.B. 3D-Drucker, Styroschneider oder
		Windowfarmen.  Alle zwei Wochen gibt es hier auch ein Vereinstreffen,
		in dem wir eine auf eine Stunde begrenzte Tagesordnung abarbeiten, die
		nächsten größeren Projekte planen, uns um Öffentlichkeitsarbeit und den
		allgemeinen Vereinsbetrieb regeln.</p>

		<p>Wer gerne mal sehen möchte was wir so machen oder mitbasteln will
		kommt einfach bei uns vorbei. Die Öffnungszeiten findet ihr auf der
		<a href="{{ content_url('index.html')|i18n(resource)|dark(resource) }}">Hauptseite</a> und unsere
		Adresse auf der <a href="{{ content_url('contact.de.html')|i18n(resource)|dark(resource) }}">Kontaktseite</a>.</p>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Mainframe / Fab-O-Lab / KtT ???</h3>
	</div>
	<div class="panel-body">
		<p>Die Übergänge von einem <a href="//de.wikipedia.org/wiki/Hackerspace">Hackspace</a>
		zu einem <a href="//de.wikipedia.org/wiki/Fablab">Fablab</a> sind fließend, weshalb
		wir uns auch als Fablab betrachten. Für Personen, welche nur mit dem Begriff Fablab
		etwas anfangen können wurde zusätzlich der Name <a href="//fab-o-lab.de">Fab-O-Lab</a>
		eingeführt.</p>

		<p>Ein weiterer Name, welcher in unserem Umfeld gelegentlich genannt
		wird ist »Kreativität trifft Technik«, welcher der Name des
		gemeinnützigen Trägervereins ist.</p>
	</div>
</div>
{% endblock mainbox %}

{% block sidebox %}
<img src="media/img/mainframe.png" width="300px" />
<br>
<br>
<img src="media/img/fab-o-lab.png" width="300px" />
<br>
<br>
<img src="media/img/ktt.png" width="300px" />
{% endblock sidebox %}
