---
title: {de: Kalender, en: Calendar}
no_translation_needed: True
---

{% extends "topbar.j2" %}

{% block container %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ resource.meta.title[resource.language] }}</h3>
    </div>
    <div class="panel-body">
        <div id='calendar'>
			<div class="modal fade" id="eventDialog" tabindex="-1" role="dialog" aria-labelledby="eventDialog" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title" id="eventTitle">Modal title</h4>
						</div>
						<div class="modal-body">
							<span id="eventId" style="color: gray;"></span>
							<span id="eventStartTime"></span>
							<span id="eventEndTime"></span>
							<span id="eventLocation"></span>
{% if resource.language =="de" %}
							<h4>Beschreibung</h4>
{% else %}
							<h4>Description</h4>
{% endif %}
							<div id="eventDescription"></div>
							<p id="eventURL" style="margin-top: 10px;"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Abonnieren</h3>
    </div>
    <div class="panel-body">
		{% if resource.language =="de" %}
        <span class="label label-primary">Tipp:</span> Du kannst diesen Kalender auch direkt benutzen. Die iCal URL dazu ist
        <blockquote><code>https://www.google.com/calendar/ical/markusframer%40gmail.com/public/basic.ics</code></blockquote>
		{% else %}
        <span class="label label-primary">Hint:</span> You can subscribe to this calendar using the following iCal URL:
        <blockquote><code>https://www.google.com/calendar/ical/markusframer%40gmail.com/public/basic.ics</code></blockquote>
		{% endif %}
    </div>
</div>


{% endblock container %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ media_url('css/fullcalendar.css') }}" />
{{ super() }}
<style type="text/css">
.event-red {
	background-color: rgb(255,0,0);
	border-color: rgb(245,0,0);
}

.event-red :hover {
	color: rgb(200,0,0);
}

.event-disabled {
	background-color: rgb(150,150,150);
	border-color: rgb(128,128,128);
	color: rgb(230,230,230);
}

.event-disabled :hover {
	color: rgb(100,100,100);
}
</style>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ media_url('js/libs/fullcalendar/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ media_url('js/libs/fullcalendar/fullcalendar.js') }}"></script>
<script type="text/javascript" src="{{ media_url('js/libs/fullcalendar/gcal.js') }}"></script>
{% if resource.language =="de" %}
<script type="text/javascript" src="{{ media_url('js/libs/fullcalendar/lang/de.js') }}"></script>
{% endif %}

<script type="text/javascript">
	var calendar_links = {}
	$.getJSON("media/calendar-links.json").done(function(json) {
		calendar_links = json
	}).fail(function( jqxhr, textStatus, error ) {
		var err = textStatus + ", " + error;
		console.log("Request Failed: " + err);
	});

{% if resource.language =="en" %}
	var calendar_translations = {}
	$.getJSON("media/calendar-translation-en.json").done( function(data) {
		calendar_translations = data
	}).fail(function( jqxhr, textStatus, error ) {
		var err = textStatus + ", " + error;
		console.log("Request Failed: " + err);
	});
{% endif %}

	var __entityMap = {
		"&": "&amp;",
		"<": "&lt;",
		">": "&gt;",
		'"': '&quot;',
	};

	String.prototype.escapeHTML = function() {
		return String(this).replace(/[&<>"]/g, function (s) {
			return __entityMap[s];
		});
	}

	function getURLParameter(sParam) {
		var sPageURL = window.location.search.substring(1);
		var sURLVariables = sPageURL.split('&');
		for (var i = 0; i < sURLVariables.length; i++) {
			var sParameterName = sURLVariables[i].split('=');
			if (sParameterName[0] == sParam) {
				return sParameterName[1];
			}
		}
		return "";
	}

	function splitCSV(data) {
		if(data && data != 'null')
			return data.split(",")
		else
			return 'null'
	}

	var selected_ids = splitCSV(getURLParameter("ids"))

	var calendar_config = {
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		weekMode: 'variable', /* variable numbers of weeks instead of always using 6 */
		googleCalendarApiKey: 'AIzaSyB9pTX1ewZeRPc-rmq-Xp32wuuTW1P4U1U',
		events: {
			googleCalendarId: 'markusframer@gmail.com',
		},
		eventRender: function(event, element) {
			id = event.id.substring(0, 26)

			event.url = (id in calendar_links) ? calendar_links[id]["{{ resource.language }}"] : 'null'

{% if resource.language =="en" %}
			if (event.title in calendar_translations)
				event.title = calendar_translations[event.title]
			element.find(".fc-event-title").html(event.title);
{% endif %}

			element.attr('href', 'javascript:void(0);');
			element.click(function() { openEventInfo(event); });

			if (selected_ids && selected_ids != 'null' && selected_ids.indexOf(id) === -1) {
				element.addClass("event-disabled");
			} else {
				/* TODO: colorize */
			}
		}
	};

	display_date = getURLParameter("date")
	if (display_date && display_date != 'null') {
		console.log("default date");
		calendar_config.defaultDate = display_date
	}

    $(document).ready(function() {
        $('#calendar').fullCalendar(calendar_config)
    });

	function listMarkup(text) {
		step0 = text

		step1 = step0.replace(/(^|\n)(([ ]{1,}\* .+?(\n|$))+)/gm, "\n<ul>\n$2</ul>\n");
		step2 = step1.replace(/(^|\n)(([ ]{3,}\* .+?(\n|$))+)/gm, "\n<ul>\n$2</ul>\n");
		step3 = step2.replace(/(^|\n)(([ ]{5,}\* .+?(\n|$))+)/gm, "\n<ul>\n$2</ul>\n");
		step4 = step3.replace(/(^|\n)(([ ]{7,}\* .+?(\n|$))+)/gm, "\n<ul>\n$2</ul>\n");
		step5 = step4.replace(/^[ ]+\* (.+)$/gm, "<li>$1</li>");

		return step5;
	}

	function paragraphMarkup(text) {
		prevstep = text.replace(/\n{3,}/g, "\n\n");
		step = prevstep.replace(/^([\s\S]*?)(\n{2}|$)/, "<p>$1</p>$2");

		while (step != prevstep) {
			prevstep = step
			step = prevstep.replace(/\n{2}([\s\S]*?)(\n{2}|$)/, "<p>$1</p>$2");
		}

		return step
	}

	function openEventInfo(event) {
		console.log(event)
		eventid = event.id.substring(0,26)
		title = event.title
		url = event.url
		description = event.description
		pos = event.location
		start = event.start
		end = event.end
		allDay = event.allDay

		if (description == null)
			description = "";

		timeformat = (allDay) ? "Do MMMM YYYY" : "Do MMMM YYYY, HH:mm:ss";

		if (start && start != 'null') {
			$("#eventStartTime").html("<b>Start:</b> " + moment(start).format(timeformat) + "<br />")
		} else {
			/* Error: clear information from previous modal dialog */
			$("#eventStartTime").html("");
		}

		if (end && end != 'null') {
			if (allDay)
				$("#eventEndTime").html("<b>Stop:</b> " + moment(end).subtract(1, "day").format(timeformat) + "<br />")
			else
				$("#eventEndTime").html("<b>Stop:</b> " + moment(end).format(timeformat) + "<br />")
		} else {
			/* Error: clear information from previous modal dialog */
			$("#eventEndTime").html("");
		}

		if (pos && pos != 'null') {
{% if resource.language =="de" %}
			$("#eventLocation").html("<b>Ort:</b> " + pos.escapeHTML() + "<br />")
{% else %}
			$("#eventLocation").html("<b>Location:</b> " + pos.escapeHTML() + "<br />")
{% endif %}
		} else {
			/* Error: clear information from previous modal dialog */
			$("#eventLocation").html("");
		}

		/* provide simple markup support */
		tmp = description.escapeHTML()+"\n" // escape incoming string
		tmp = tmp.replace(/(https?:\/\/\S*)/g, '<a href="$1">$1<\/a>'); // links
		tmp = listMarkup(tmp) // bullet point list
		tmp = paragraphMarkup(tmp) // generate <p> elements
		tmp = tmp.replace(/(\[br\])/g, '<br />'); // newlines
		tmp = tmp.replace(/ -&gt; /g, '&#8594;'); // right arrow
		tmp = tmp.replace(/ &lt;- /g, '&#8592;'); // left arrow
		processedDescription = tmp

		$("#eventTitle").attr("title", "Event ID: " + eventid);
		$("#eventDescription").html(processedDescription);
		$("#eventTitle").text(title).html;

		if (url && url != 'null') {
			{% if resource.language =="de" %}
			$("#eventURL").html('<a href="'+url+'">Mehr Informationen...</a>');
			{% else %}
			$("#eventURL").html('<a href="'+url+'">More Information...</a>');
			{% endif %}
		} else {
			{% if resource.language =="de" %}
			$("#eventURL").html('<span class="label label-primary">Hinweis:</span> Diesem Event ist keine Seite zugeordnet.');
			{% else %}
			$("#eventURL").html('<span class="label label-primary">Note:</span> No page is assigned to this event.');
			{% endif %}
		}

		$("#eventDialog").modal({keyboard: true});
	}
</script>
{{ super() }}
{% endblock scripts %}
