---
title: Satzung und Beitragsordnung
---

{% extends "default.j2" %}

{% block mainbox %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Satzung und Beitragsordnung</h3>
	</div>
	<div class="panel-body">
		<p>Hier finden sie als PDF-Download die Satzung und Beitragsordnung des
		gemeinnützigen eingetragen Vereins Kreativität trifft Technik.</p>

		<a href="http://www.kreativitaet-trifft-technik.de/sites/default/files/ktt-geV-satzung_und_beitragsordnung.pdf">Download der Satzung und Beitragsordnung</a>
	</div>
</div>
{% endblock mainbox %}
