---
title: Kommunikation
---

{% extends "default.j2" %}

{% block mainbox %}


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Mailinglisten</h3>
    </div>
    <div class="panel-body">
        <p>
            Wenn wir nicht direkt miteinander reden, findet die meiste Kommunikation über <a href="https://de.wikipedia.org/wiki/Mailingliste">Mailinglisten</a> statt.
            Die Wichtigste ist dabei "<a href="https://mailman.ktt-ol.de/postorius/lists/diskussion.lists.ktt-ol.de/">Diskussion</a>". Die ist öffentlich, d.h. hier darf sich jeder
            registrieren und dann schreiben.
        </p>
        <p>
            Es gibt noch viele weitere Mailinglisten zu speziellen Themen. Ihr findet die <a href="https://mailman.ktt-ol.de/postorius/lists/">hier</a>.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Wiki</h3>
    </div>
    <div class="panel-body">
        <p>
            Ihr findet unser Wiki unter <a href="https://wiki.kreativitaet-trifft-technik.de/">https://wiki.kreativitaet-trifft-technik.de/</a>.
            Es gibt auch hier einen öffentlichen Bereich, den jeder lesen kann.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Das Plenum</h3>
    </div>
    <div class="panel-body">
        <p>
            Wir treffen uns in regelmäßigen Abständen (ca. alle 1 1/2 Wochen) im Space zu einem Plenum. Dort werden wichtige Anliegen angesprochen und
            informelle Meinungsbilder erstellt. Diese Treffen sind auch ein idealer Zeitpunkt für neue Besucher sich einen Eindruck von dem Hackspace und der
            Mitglieder zu bilden.
        </p>
    </div>
</div>

{% endblock mainbox %}
