---
title: Kontakt
---

{% extends "default.j2" %}

{% block mainbox %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Anschrift &amp; Kontakt</h3>
  </div>
  <div class="panel-body">

    <div class="row">
      <div class="col-sm-2 contact-title">Post-Anschrift</div>
      <div class="col-sm-4 contact-data">
        Kreativität trifft Technik e.V.<br>
        Postfach 5532<br>
        26045 Oldenburg<br>
      </div>
      <div class="col-sm-2 contact-title">Anschrift</div>
      <div class="col-sm-4 contact-data">
        Kreativität trifft Technik e.V.<br>
        Bahnhofsplatz 10<br>
        26122 Oldenburg<br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 contact-title">Kontakt</div>
      <div class="col-sm-10 contact-data">
        Wenn du mit Leuten aus dem <b>Verein</b> in Kontakt treten möchtest, dann sind
        unsere <a href="{{content_url('communication.html')|i18n(resource)|dark(resource) }}">Mailinglisten</a> der richtige Weg.
        Möchtest du nur mit dem <b>Vorstand</b> in Kontakt treten, dann schreibe an:
        <a href="mailto:vorstand@kreativitaet-trifft-technik.de">vorstand@kreativitaet-trifft-technik.de</a>.
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 contact-title">Space-Telefon</div>
      <div class="col-sm-10 contact-data">
        0441-55970032 (klingelt auf der Freifläche)
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="map" style="height:400px; border: 1px solid black;"><div id="popup"></div></div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Eingang und Anreise</h3>
  </div>
  <div class="panel-body">
    <img src="{{ media_url('img/building.jpg') }}" style="width: 100%; max-width: 800px; margin-bottom: 12px;"/>

    <p>
      <b>Anreise mit den Öffentlichen</b><br>
      Der Space ist direkt am Oldenburger Hauptbahnhof (Süd-Ausgang) bzw. der
      Bushaltestelle "Hauptbahnhof Süd". Vom Bahnhofsvorplatz sieht man schon
      das ehemalige Postgebäude.
    </p>

    <p>
      <b>Anreise mit dem Rad</b><br>
      Fahrräder lieber unten im Haus (hinter den Schranken) [P int.] abstellen
      und anschließen. Vor dem Haus [P Bf.] ist es weniger sicher.
    </p>

    <p>
      <b>Anreise mit dem PKW und Parken</b><br>
      Fahrzeuge können an der Straße, auf dem Bahnhofsparkplatz und auf
      Parkflächen im Haus hinter der Schrankenanlage geparkt werden.
    </p>

    <p>
      Die Parkplätze an der Straße [P Str.] sind Mo-Sa ab 19:00 Uhr und
      Sonntags ganztägig kostenlos, sonst 60 Cent je 30 Minuten.
    </p>

    <p>
      <b>Achtung!</b> Der Bahnhofsparkplatz [P Bf.] ist Mo-So 07:00 bis 24:00
      kostenpflichtig und wird teilweise auch spät noch kontrolliert! 15
      Minuten kostenlos ("Brötchentaste"), 60 Cent je 30 Minuten,
      Höchstparkdauer 2 Stunden.
    </p>

    <p>
      Das Haus hat eine Schrankenanlage, die mit Bankkarte ("EC") abgerechnet
      wird [P EC]. 30 Minuten kostenlos, dann 50 Cent je halber Stunde, max. 5
      Euro pro Kalendertag. Es ist derzeit nicht klar, auf welchen Flächen
      EC-Parker stehen sollen, da praktisch alle Stellplätze mit Kennzeichen,
      "Vermietet" oder "Mitarbeiter Postbank" markiert sind!
    </p>
  </div>
</div>
{% endblock mainbox %}

{% block scripts %}
<link rel="stylesheet" href="{{ media_url('css/ol.css') }}" type="text/css">
<script type="text/javascript" src="{{ media_url('js/libs/ol.js') }}"></script>
<script type="text/javascript">
  spaceFeature = new ol.Feature({
    geometry: new ol.geom.Point(ol.proj.fromLonLat([8.2207, 53.14375])),
    name: 'Mainframe',
  });

  var spaceIconStyle = new ol.style.Style({
    image: new ol.style.Icon({
      anchor: [15, 15],
      anchorXUnits: 'pixels',
      anchorYUnits: 'pixels',
      size: [30, 30],
      src: '/media/img/logo-small.svg',
    }),
  });

  spaceFeature.setStyle(spaceIconStyle);

  var vectorSource = new ol.source.Vector({
    features: [spaceFeature],
  });

  var vectorLayer = new ol.layer.Vector({
    source: vectorSource,
  });

  var osmLayer = new ol.layer.Tile({
    source: new ol.source.OSM()
  });

  map = new ol.Map({
          interactions: ol.interaction.defaults({dragPan: false, mouseWheelZoom: false}).extend([
            new ol.interaction.DragPan({
              condition: function (event) {
                return this.getPointerCount() === 2 || ol.events.condition.platformModifierKeyOnly(event);
              },
            }),
            new ol.interaction.MouseWheelZoom({
              condition: ol.events.condition.platformModifierKeyOnly,
            })
          ]),
          target: 'map',
          layers: [osmLayer, vectorLayer],
          view: new ol.View({
              center: ol.proj.fromLonLat([8.2179, 53.144398]),
              zoom: 16
          })
  });

  map.addControl(new ol.control.ScaleLine());
  map.addControl(new ol.control.Attribution());
</script>
{{ super() }}
{% endblock scripts %}
