---
title: Essen
---

{% extends "topbar.j2" %}

{% block container %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Essen</h3>
	</div>
	<div class="panel-body">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Huang Long (Chinese)</h3>
			</div>
			<div class="panel-body">
				Kaiserstraße 29<br>
				26122 Oldenburg<br>
				Tel.: 044121985631<br>
				<br>
				Website: <a href="http://www.hoanglong.de/">www.hoanglong.de</a>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Kismet (Döner)</h3>
			</div>
			<div class="panel-body">
				Lange Straße 2 (Lappan)<br>
				26122 Oldenburg<br>
				Tel.: 04411813518<br>
				<br>
				Website: <a href="http://kismet-am-lappan.de/">www.kismet-am-lappan.de</a>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Subway</h3>
			</div>
			<div class="panel-body">
				Heiligengeiststraße 4-6 (City Center Oldenburg)<br>
				26122 Oldenburg<br>
				Tel.: 044121719284<br>
				<br>
				Website: -
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Burger King</h3>
			</div>
			<div class="panel-body">
				Lange Straße 89<br>
				26122 Oldenburg<br>
				Tel.: 04419579110<br>
				<br>
				Website: -
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Mc Donalds</h3>
			</div>
			<div class="panel-body">
				Lange Straße 7<br>
				26122 Oldenburg<br>
				Tel.: 044113139<br>
				<br>
				Website: -
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Lieus Imbiss (Taiwanese)</h3>
			</div>
			<div class="panel-body">
				Heiligengeiststraße (vor CCO)<br>
				26122 Oldenburg<br>
				Tel.: -<br>
				<br>
				Website: -
			</div>
		</div>

	</div>
</div>
{% endblock container %}
