---
title: Über den Oldenburger Hackspace
---

{% extends "topbar.j2" %}

{% block container %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Vereinsgeschichte</h3>
	</div>
	<div class="panel-body">
		<p>Das allerste Treffen, welches zur Gründung eines Hackspaces führen
		sollte fand Anfang 2011 im Marvin's statt. Nachdem unerwartet
		viele Leute zu dem kurzfristig geplanten Termin gekommen sind, wurde
		ein regelmäßiger wöchentlicher Termin vereinbart.</p>

		<p>Im Juli 2011 wurde schließlich der gemeinnützige Verein Kreativität
		trifft Technik gegründet, welcher als Trägerverein für den Hackspace
		dienen soll. Da zunächst noch Räumlichkeiten fehlten fanden die regelmäßigen
		Treffen weiterhin im Marvin's und/oder im Beppo statt.</p>

		<p>Um die Zeit bis zu den ersten Räumlichkeiten zu überbrücken wurden
		von uns drei mehrtägige Veranstaltungen durchgeführt, die alpha genannt
		wurden. Diese stellten eine Art Vorabversion des Hackspaces dar.</p>

		<p>Anfang November 2011 gelangten hatte der Hackspace erstmals eine
		feste Bleibe gefunden. Dieser Raum wurde zunächst, in Anlehnung an
		die Alphas, Betaspace getauft. Er befand sich in den Räumen der Kulturetage
		und war zunächst einmal die Woche, am Ende täglich geöffnet.</p>

		<p>Da das Gebäude der Kulturetage Ende 2012 abgerissen wurde, ist der
		Space zu diesem Zeitpunkt in die Raiffeisenstraße 27 umgezogen. Dort
		wurden zunächst ca. 80m² angemietet. Auf Grund wachsender Mitgliederzahlen
		haben sich diese bis Ende 2013 auf das gesamte Erdgeschoss (ca. 200m²)
		ausgedehnt.</p>
	</div>
</div>
{% endblock container %}
