---
title: Images from Space
no_translation_needed: True
---

{% extends "topbar.j2" %}

{% block css %}
<!--<link rel="stylesheet" href="{{ media_url('mfGallery/styles/bootstrap-custom.css') }}">-->
<link rel="stylesheet" href="{{ media_url('mfGallery/styles/main.css') }}">
{{ super() }}
{% endblock css %}

{% block container %}
<div class="panel panel-default mf-gallery-app" ng-app="mfGalleryApp">
    <div class="panel-heading"><h3 class="panel-title">{{ resource.meta.title }} <a href="/media/ifs-images/feed.xml" style="float: right;"><img src="/media/img/feed.svg" title="Atom Feed for Images from Space" alt="Atom Feed" style="height: 1em;"/></a></h3></div>
    <div class="panel-body">
        <div ng-view=""></div>
    </div>
    <div id="ifs-cast-box" style="display: none">
      <button onclick="initIfsCast()" id="initIfsCastTag" class="btn btn-default" style="display: none">Auf Chromecast abspielen</button>
      <button onclick="ifsCast.play(0)" id="ifsCastElement" class="btn btn-success" style="display: none">Jetzt Senden!</button>
    </div>
</div>


<script type="text/javascript">var mfGalleryConfig = {
    staticPath: "{{ media_url('mfGallery') }}/",
    folder: "{{ media_url('ifs-images') }}/",
    mode: 'ifs',
    pageSize: 30,
    preferedImageHeight: 600,
    thumbSmall: 300,
    thumbLightbox: 1200
};</script>

<script src="{{ media_url('mfGallery/scripts/vendor.js') }}"></script>
<script src="{{ media_url('mfGallery/scripts/scripts.js') }}"></script>

<script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>
<script src="{{ media_url('js/ifsSender.js') }}"></script>

<script type="text/javascript">
    window.onload = function () {
        window.ifsCast = new IfsSender(function (hasSupport) {
            if (hasSupport) {
              document.getElementById('ifs-cast-box').style.display = 'block';
                document.getElementById('initIfsCastTag').style.display = 'block';
            }
        }, false);
    };
    function initIfsCast() {
        ifsCast.init(function () {
            document.getElementById('initIfsCastTag').style.display = 'none';
            document.getElementById('ifsCastElement').style.display = 'block';
        });
    }
</script>

{% endblock container %}
