---
title: Mainframe
---

{% extends "default.j2" %}
{% from "macros.j2" import render_event_excerpt with context %}

{% block endhead %}
	<link href="projects.atom.xml" type="application/atom+xml" rel="alternate" title="Projects ATOM Feed">
	{{ super() }}
{% endblock endhead %}

{% block mainbox %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Mainframe</h3>
	</div>
	<div class="panel-body">
		<p>Der Mainframe ist ein <a href="//de.wikipedia.org/wiki/Hackerspace">Hackspace</a>
		in <a href="//de.wikipedia.org/wiki/Oldenburg_(Oldenburg)">Oldenburg</a>. Er stellt
		einen Treffpunkt für Personen bereit, welche sich über Technik und
		damit verbundene Themen austauschen und gemeinsam »hacken«.  Hierunter
		wird die Erforschung von technischen, sozialen und politischen Systemen
		auf Potentiale und Grenzen verstanden.</p>

		<p>Der Mainframe stellt auf ca. 600 Quadratmetern die nötige Infrastruktur zur
		Verfügung: Einen Konferenzraum zum Arbeiten und für <a href="{{
		content_url('talks.html')|i18n(resource)|dark(resource) }}">Vorträge</a>, eine Lounge, eine Holz-
		&amp; Metallwerkstatt, eine Elektronikwerkstatt, eine ausgebaute Küche,
		sowie einige weitere Räume.</p>

		<p>Der Mainframe ist täglich ab spätestens 19:00 Uhr (häufig bereits früher) geöffnet
		und Besucher, insbesondere anderer Hackspaces, sind jederzeit willkommen.</p>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Neuste Events
	</div>
	<div class="panel-body">
		<ul class="list-group article-list">
			{% for res in site.content.node_from_relative_path("events").walk_resources_sorted_by_time()
            if match_lang(res, resource) and match_dark(res, resource) %}
			    {% if loop.index > 3 %} {% break %} {% endif %}
                {{ render_event_excerpt(res, "borderless") }}
			{% endfor %}
		</ul>
	</div>
</div>


<div class="panel panel-default">
	<div class="panel-heading">
		Neuste Projekte
	</div>
	<div class="panel-body">
		<div class="row">
			{% for res in site.content.node_from_relative_path("project").walk_resources_sorted_by_time()
            if match_lang(res, resource) and match_dark(res, resource) %}
			    {% if loop.index > 3 %} {% break %} {% endif %}
			    {{ render_thumbnail(res, "img/project.svg") }}
			{% endfor %}
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Neuste Vorträge
	</div>
	<div class="panel-body">
		<div class="row">
			{% for res in site.content.node_from_relative_path("talk").walk_resources_sorted_by_time()
            if not res.meta.status == "scheduled" and match_lang(res, resource) and match_dark(res, resource) %}
			    {% if loop.index > 3 %} {% break %} {% endif %}
			    {{ render_thumbnail(res, "img/talk.svg") }}
			{% endfor %}
		</div>
	</div>
</div>
{% endblock mainbox %}
