---
title: Mainframe
---

{% extends "default.j2" %}

{% block endhead %}
	<link href="projects.atom.xml" type="application/atom+xml" rel="alternate" title="Projects ATOM Feed">
	{{ super() }}
{% endblock endhead %}

{% block mainbox %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Mainframe</h3>
	</div>
	<div class="panel-body">
        <p class="alert alert-info">
            <strong>Neue Homepage!</strong><br />
            Ihr habt es bestimmt bemerkt, die neue Homepage ist online. Sie ist schon so weit fertig, dass wir spontan entschieden haben das alte Drupal-System zu ersetzen. Alles Wichtige sollte schon zu finden sein, wenn nicht
            <a href="//oldwww.kreativitaet-trifft-technik.de" class="alert-link">findet ihr hier</a> die alte Homepage.
        </p>

		<p>Der Mainframe ist ein <a href="//de.wikipedia.org/wiki/Hackerspace">Hackspace</a>
		in <a href="//de.wikipedia.org/wiki/Oldenburg_(Oldenburg)">Oldenburg</a>. Er stellt
		einen Treffpunkt für Personen bereit, welche sich über Technik und
		damit verbundene Themen austauschen und gemeinsam »hacken«.  Hierunter
		wird die Erforschung von technischen, sozialen und politischen Systemen
		auf Potentiale und Grenzen verstanden.</p>

		<p>Der Mainframe stellt auf ca. 200 Quadratmetern die nötige Infrastruktur zur
		Verfügung: Einen Konferenzraum zum Arbeiten und für <a href="{{
		content_url('talks.html') }}">Vorträge</a>, eine Lounge, eine Holz-
		&amp; Metallwerkstatt, eine Elektronikwerkstatt, eine ausgebaute Küche,
		sowie einige weitere Räume.</p>

		<p>Der Mainframe ist täglich ab spätestens 18:00 Uhr (häufig bereits früher) geöffnet
		und Besucher, insbesondere anderer Hackspaces, sind jederzeit willkommen.</p>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Aktuelle Projekte
	</div>
	<div class="panel-body">
		<div class="row">
			{% for res in site.content.node_from_relative_path("project").walk_resources_sorted_by_time() %}
			{% if loop.index > 3 %} {% break %} {% endif %}
			<div class="col-xs-6 col-md-4 vbottom">
				<div class="caption"><h4>{{ res.meta.title }}</h4></div>
				<a href="{{ content_url(res.url) }}" class="thumbnail">
					{% if res.meta.thumbnail is defined %}
					<img src="{{ content_url(res.meta.thumbnail) }}" alt="{{ res.meta.title }}">
					{% else %}
					<img src="{{ media_url("img/project.svg") }}" alt="{{ res.meta.title }}">
					{% endif %}
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		Aktuelle Vorträge
	</div>
	<div class="panel-body">
		<div class="row">
			{% for res in site.content.node_from_relative_path("talk").walk_resources_sorted_by_time() if not res.meta.status == "scheduled" %}
			{% if loop.index > 3 %} {% break %} {% endif %}
			<div class="col-xs-6 col-md-4 vbottom">
				<div class="caption"><h4>{{ res.meta.title }}</h4></div>
				<a href="{{ content_url(res.url) }}" class="thumbnail">
					{% if res.meta.thumbnail is defined %}
					<img src="{{ content_url(res.meta.thumbnail) }}" alt="{{ res.meta.title }}">
					{% else %}
					<img src="{{ media_url("img/talk.svg") }}" alt="{{ res.meta.title }}">
					{% endif %}
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock mainbox %}
