---
title: {de: Maschinen, en: Machines}
no_translation_needed: True
created: !!timestamp '2015-01-17 19:00:00'
extends: default.j2
---

{% from "macros.j2" import render_machine_excerpt with context %}

{% block mainbox %}

<ul class="list-group article-list">
{% for res in site.content.node_from_relative_path("machines").walk_resources()|selectattr("meta.title")|sort(attribute="meta.title")
    if match_lang(res, resource) and match_dark(res, resource) %}
	{{ render_machine_excerpt(res, "no-list-margin") }}
{% endfor %}
</ul>

{% endblock %}
