---
title: Mitgliedschaft
---

{% extends "default.j2" %}

{% block mainbox %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Mitgliedschaft</h3>
	</div>
	<div class="panel-body">
		<p>Die ordentliche Mitgliedschaft ist nur für natürliche Personen
		möglich. Der monatliche Beitrag beträgt 25€ bzw. 10€ ermäßigt (z.B.
		für Schüler und Studenten). Darüber hinaus besteht die Möglichkeit,
		den Verein mit einer monatlichen Spende zu unterstützen. Außerdem
		besteht für juristische und natürliche Personen die Möglichkeit
		einer Fördermitgliedschaft (ohne Stimmrecht) ab 5€ monatlich.</p>

		<p>Der Verein kann auf Wunsch für die gesamten Beiträge eines Jahres
		eine Sammel-Spendenbescheinigung ausstellen!</p>

		<p>Jedes Mitglied kann seine Mitgliedsnummer frei wählen, so lange sie
		zum Beitritt noch frei ist. Eine Liste der bereits vergebenen Nummern
		befindet sich im <a href="//wiki.kreativitaet-trifft-technik.de/display/pub/Mitgliedschaft">Wiki</a>.</p>

		<p>Beitrittsformular: <a href="//wiki.kreativitaet-trifft-technik.de/download/attachments/5406799/Kreativit%C3%A4t%20trifft%20Technik%20e.V.%20Mitgliedsantrag.Dez2013.pdf?version=1&modificationDate=1386958491478&api=v2">PDF</a></p>
	</div>
</div>
{% endblock mainbox %}
