---
title: Mitgliedschaft
---

{% extends "default.j2" %}

{% block mainbox %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Mitgliedschaft</h3>
	</div>
	<div class="panel-body">
		<p>Die ordentliche Mitgliedschaft ist nur für natürliche Personen
		möglich. Der monatliche Beitrag beträgt 25€ bzw. 10€ ermäßigt (z.B.
		für Schüler und Studenten). Darüber hinaus besteht die Möglichkeit,
		den Verein mit einer monatlichen Spende zu unterstützen. Außerdem
		besteht für juristische und natürliche Personen die Möglichkeit
		einer Fördermitgliedschaft (ohne Stimmrecht) ab 5€ monatlich.</p>

		<p>Der Verein kann auf Wunsch für die gesamten Beiträge eines Jahres
		eine Sammel-Spendenbescheinigung ausstellen!</p>

		<p>Jedes Mitglied kann seine Mitgliedsnummer frei wählen, so lange sie
		zum Beitritt noch frei ist. Eine Liste der bereits vergebenen Nummern
		befindet sich im <a href="//wiki.kreativitaet-trifft-technik.de/public/Verein/Mitgliedschaft">Wiki</a>.</p>

		<p>Beitrittsformular: <a href="{{ content_url("data/club/membership_form.pdf") }}">PDF</a></p>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Satzung und Beitragsordnung</h3>
	</div>
	<div class="panel-body">
		<p>Hier finden sie als PDF-Download die Satzung und Beitragsordnung des
		gemeinnützigen eingetragen Vereins Kreativität trifft Technik. Die Satzung
		und die Beitragsordnung ist außerdem als LaTeX Dokument in einem
		<a href="//github.com/ktt-ol/articles-of-association">Git-Repository</a>
		verfügbar, um Änderungen tracken und vorschlagen zu können.</p>

		<a href="{{ content_url("data/club/articles-of-association.pdf") }}">Download der Satzung</a> |
		<a href="{{ content_url("data/club/membership-fee-regulations.pdf") }}">Download der Beitragsordnung</a>
	</div>
</div>
{% endblock mainbox %}
