---
title: Mailinglisten
---

{% extends "default.j2" %}

{% block mainbox %}


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Mailinglisten</h3>
    </div>
    <div class="panel-body">
        Wenn wir nicht direkt miteinander reden, findet die meiste Kommunikation über <a href="https://de.wikipedia.org/wiki/Mailingliste">Mailinglisten</a> statt.
        Die Wichtigste ist dabei "<a href="https://lists.ktt-ol.de/listinfo/diskussion">Diskussion</a>". Die ist öffentlich, d.h. hier darf sich jeder
        registrieren und dann schreiben.
        <br>
        Es gibt dann viele weitere Mailinglisten zu speziellen Themen. Ihr findet die <a href="https://lists.ktt-ol.de/mailman/listinfo">hier</a> und
        <a href="https://mailman.kreativitaet-trifft-technik.de/mailman/listinfo">hier</a>.
    </div>
</div>
{% endblock mainbox %}

