---
title: Pressespiegel
---

{% extends "default.j2" %}

{% block mainbox %}
<div class="panel panel-default">
        <div class="panel-heading">
                <h3 class="panel-title">Pressespiegel</h3>
        </div>
        <div class="panel-body">

{% filter markdown -%}
- **14.01.2014** Artikel in der NWZ [Spionage ist kein Geheimnis mehr](http://www.nwzonline.de/interview/spionage-ist-kein-geheimnis-mehr-spionage-ist-kein-geheimnis-mehr_a_11,5,1743594347.html)
- **11.01.2014** Artikel in der NWZ [Nichts ist unmöglich im Club der Tüftler](http://www.nwzonline.de/oldenburg/lokalsport/nicht-ist-unmoeglich-im-club-der-tueftler-nichts-ist-unmoeglich-im-club-der-tueftler_a_11,5,1487458214.html)
- **27.08.2013** Artikel in der NWZ [Einbrecher schlagen Fensterscheibe ein](http://www.nwzonline.de/oldenburg/einbrecher-schlagen-fensterscheibe-ein_a_8,3,908340637.html)
- **01.08.2013** Artikel in der NWZ [Lehrer machen ordentlich Druck](http://www.nwzonline.de/oldenburg/bildung/lehrer-machen-ordentlich-druck_a_8,2,3218906171.html)
- **31.07.2013** Bericht bei NWZ-TV [Lehrer bauen 3D-Drucker](http://www.nwzonline.de/tv?bcpid=1701167454001&amp;bclid=23977590001&amp;bctid=2577116042001)
- **08.10.2012** Video-Beitrag bei [oeins aktuell](http://oeins.de/lokalsender/mediathek2/201210081800_oeins-aktuell.html)
- **18.05.2012** Artikel in der NWZ [Sommer im Quartier für die ganze Familie](http://www.nwzonline.de/oldenburg/kultur/sommer-im-quartier-fuer-die-ganze-familie_a_1,0,503847973.html)
- **18.05.2012** Artikel in der NWZ [Techniktüftler basteln bis zum Morgengrauen](http://www.nwzonline.de/oldenburg/lokalsport/techniktueftler-basteln-bis-zum-morgengrauen_a_1,0,503749353.html)
- **14.03.2012** Artikel Telepolis Online [Eine arabische Front liegt im Westen (mit Erwähnung von Universal. Sozial. Digital! mit Stephan Urbach)](http://www.heise.de/tp/blogs/6/151606)
- **08.03.2012** Artikel im Oldenburger Lokalteil  [Arabischer Frühling in Oldenburg](http://www.oldenburger-lokalteil.de/2012/03/08/arabischer-fruhling-in-oldenburg/)
- **03.02.2012** Beitrag und Interview [Forum: Technik des oEins](http://oeins.de/lokalsender/mediathek1/201202031900_forum_technik.html)
- **03.01.2012** Artikel im Oldenburger Lokalteil  [Zusammen lötet sich’s besser](http://www.oldenburger-lokalteil.de/2012/01/03/zusammen-lotet-sichs-besser/)
- **16.12.2011** Artikel in der NWZ [Zuschuss für Vereinskasse](http://www.nwzonline.de/Region/Stadt/Oldenburg/Artikel/2761148/Zuschuss-f%FCr-Vereinskasse.html)
- **30.11.2011** Artikel in der NWZ [Kreativ-Treffpunkt](http://www.nwzonline.de/Region/Stadt/Oldenburg/Artikel/2749303/Spenden-und-Technik-Treff.html)
- **28.11.2011** Video von NWZ-TV [Treffpunkt für kreative Bastler eröffnet](http://bcove.me/fvn8eew2)
- **26.11.2011** Artikel im Huntereport [1. Hackspace](http://www.huntereport.de/web/cms/ausgaben/111127/oldenburg/pdf/10002.pdf)
- **25.11.2011** Video-Beitrag im [Lokalfenster von oldenburg eins (ab 2:44)](http://oeins.de/lokalsender/mediathek1/201111251830_lokalfenster.html)
- **25.11.2011** Artikel in der NWZ [&quot;Hackspace&quot; wird eröffnet](http://www.nwzonline.de/Region/Stadt/Oldenburg/Artikel/2745661/Hackspace-wird-er%F6ffnet.html)
- **22.11.2011** Artikel in der Neuen Zeitung [Mit &quot;Hackern&quot; hat das nichts zu tun](http://issuu.com/gerhard-verlag/docs/neue_zeitung_-_ausgabe_oldenburg_kw_47/3)
- **22.11.2011** Artikel in der Huntesicht [Wir brauchen mehr Hacker!](http://huntesicht.de/alvar-freude-wir-brauchen-mehr-hacker-2800/)
- **20.11.2011** Artikel in der Oldenburger Sonntagszeitung [Wenn der Staat das Internet hackt](http://www.die-sonntagszeitungen.de/ausgaben_sz/111120/stadt/pdf/10004.pdf)
- **19.11.2011** Artikel der NWZ [Thema Staat und Internet](http://www.nwzonline.de/Region/Stadt/Oldenburg/Artikel/2725108/Thema-Staat-und-Internet.html)
- **08.11.2011** Artikel in der HunteS!cht [Wenn der Staat das Internet hackt](http://www.nwzonline.de/Region/Stadt/Oldenburg/Artikel/2741626/Thema-Staat-und-Internet.html)
- **02.11.2011** Artikel in der NWZ [Thema Staat und Internet](http://www.nwzonline.de/Region/Stadt/Oldenburg/Artikel/2741626/Thema-Staat-und-Internet.html)
- **19.10.2011** Artikel im Hunte Report [Ein Ort für kreative Spaß-Tüftler](http://www.huntereport.de/web/cms/ausgaben/111019/oldenburg/index.php?goto=3)
- **30.09.2011** Video-Beitrag im [Lokalfenster von oldenburg eins (ab 9:22)](http://www.oeins.de/lokalsender/mediathek1/2011093018.30_lokalfenster.html)
- **23.09.2011** Artikel der NWZ [Tüftler denken gemeinsam nach](http://www.nwzonline.de/Region/Artikel/2696800/T%FCftler-denken-gemeinsam-nach.html)
- **23.09.2011** Video von NWZ-TV [Des Tüftlers Paradies](http://www.nwzonline.de/Video/Des-Tftlers-Paradies_1175142740001.html)
- **18.09.2011** Artikel im Hunte Report  [Wenn der Lötkolben auf den Mikrocontroller trifft](http://www.huntereport.de/web/cms/ausgaben/110918/oldenburg/index.php?goto=3)
- **15.09.2011** Pressemitteilung der Stadt Oldenburg [Neuer Oldenburger Verein lädt zum Tüftler-Treffen ein – Offene Elektronik-Bastelwerkstatt vom 20. bis 22. September](http://www.oldenburg.de/stadtol/index.php?id=1481&amp;no_cache=1&amp;reportId=30983)
{%- endfilter %}
        </div>
</div>

{% endblock %}
