---
title: Pressespiegel
---

{% extends "default.j2" %}

{% block mainbox %}
<div class="panel panel-default">
        <div class="panel-heading">
                <h3 class="panel-title">Pressespiegel</h3>
        </div>
        <div class="panel-body">

{% filter markdown -%}
- **2014-05-08** PM der Stadt Oldenburg: [Vorstellung der neuen Räume des FabLab Oldenburg und des Metropolregionsprojekts „Fabulé“](http://www.oldenburg.de/startseite/wirtschaft/netzwerke/netzwerk-kreativwirtschaft-cre8-oldenburg/eroeffnung-neue-raeume-fablab.html)
- **2014-05-08** Artikel in der NWZ: [Kreative geben ihr Wissen weiter](http://www.nwzonline.de/oldenburg/wirtschaft/kreative-geben-ihr-wissen-weiter_a_14,7,1993590608.html)
- **2014-05-08** Artikel in der NWZ: [Platz für junge Tüftler – „Kreativität trifft Technik“ zieht in die Post](http://www.nwzonline.de/oldenburg/platz-fuer-junge-tueftler-kreativitaet-trifft-technik-zieht-in-die-post_a_14,7,1993500856.html)
- **2014-05-03** Artikel in der NWZ: [Ideen-Schmiede zieht zum Bahnhof](http://www.nwzonline.de/oldenburg/wirtschaft/ideen-schmiede-zieht-zum-bahnhof_a_14,7,1593265402.html)
- **2014-05-02** PM der Stadt Oldenburg: [FabLab Oldenburg stellt neue Räume am 7. Mai vor](http://www.oldenburg.de/nc/startseite/presse/pressemitteilung.html?tx_ttnews%5Btt_news%5D=15917)
- **2014-04-24** NDR Beitrag: [Hallo Niedersachsen](http://media.ndr.de/progressive/2014/0424/TV-20140424-2000-0342.hq.mp4)
- **2014-01-14** Artikel in der NWZ: [Spionage ist kein Geheimnis mehr](http://www.nwzonline.de/interview/spionage-ist-kein-geheimnis-mehr-spionage-ist-kein-geheimnis-mehr_a_11,5,1743594347.html)
- **2014-01-11** Artikel in der NWZ: [Nichts ist unmöglich im Club der Tüftler](http://www.nwzonline.de/oldenburg/lokalsport/nicht-ist-unmoeglich-im-club-der-tueftler-nichts-ist-unmoeglich-im-club-der-tueftler_a_11,5,1487458214.html)
- **2013-08-27** Artikel in der NWZ: [Einbrecher schlagen Fensterscheibe ein](http://www.nwzonline.de/oldenburg/einbrecher-schlagen-fensterscheibe-ein_a_8,3,908340637.html)
- **2013-08-01** Artikel in der NWZ: [Lehrer machen ordentlich Druck](http://www.nwzonline.de/oldenburg/bildung/lehrer-machen-ordentlich-druck_a_8,2,3218906171.html)
- **2013-07-31** Bericht bei NWZ-TV: [Lehrer bauen 3D-Drucker](http://www.nwzonline.de/tv?bcpid=1701167454001&amp;bclid=23977590001&amp;bctid=2577116042001)
- **2013-03-09** Bericht des OLDIES e.V.: [Besuch des Vereins "Kreativität trifft Technik"](http://www.oldies-ev.de/de/veranstaltungen/hackspaces-2013/)
- **2012-10-08** Video-Beitrag bei: [oeins aktuell](http://oeins.de/lokalsender/mediathek2/201210081800_oeins-aktuell.html)
- **2012-05-18** Artikel in der NWZ: [Sommer im Quartier für die ganze Familie](http://www.nwzonline.de/oldenburg/kultur/sommer-im-quartier-fuer-die-ganze-familie_a_1,0,503847973.html)
- **2012-05-18** Artikel in der NWZ: [Techniktüftler basteln bis zum Morgengrauen](http://www.nwzonline.de/oldenburg/lokalsport/techniktueftler-basteln-bis-zum-morgengrauen_a_1,0,503749353.html)
- **2012-03-14** Artikel Telepolis Online: [Eine arabische Front liegt im Westen (mit Erwähnung von Universal. Sozial. Digital! mit Stephan Urbach)](http://www.heise.de/tp/blogs/6/151606)
- **2012-03-08** Artikel im Oldenburger Lokalteil: [Arabischer Frühling in Oldenburg](http://www.oldenburger-lokalteil.de/2012/03/08/arabischer-fruhling-in-oldenburg/)
- **2012-02-03** Beitrag und Interview: [Forum: Technik des oEins](http://oeins.de/lokalsender/mediathek1/201202031900_forum_technik.html)
- **2012-01-03** Artikel im Oldenburger Lokalteil: [Zusammen lötet sich’s besser](http://www.oldenburger-lokalteil.de/2012/01/03/zusammen-lotet-sichs-besser/)
- **2011-12-16** Artikel in der NWZ: [Zuschuss für Vereinskasse](http://www.nwzonline.de/Region/Stadt/Oldenburg/Artikel/2761148/Zuschuss-f%FCr-Vereinskasse.html)
- **2011-11-30** Artikel in der NWZ: [Kreativ-Treffpunkt](http://www.nwzonline.de/Region/Stadt/Oldenburg/Artikel/2749303/Spenden-und-Technik-Treff.html)
- **2011-11-28** Video von NWZ-TV: [Treffpunkt für kreative Bastler eröffnet](http://bcove.me/fvn8eew2)
- **2011-11-26** Artikel im Huntereport: [1. Hackspace](http://www.huntereport.de/web/cms/ausgaben/111127/oldenburg/pdf/10002.pdf)
- **2011-11-25** Video-Beitrag im: [Lokalfenster von oldenburg eins (ab 2:44)](http://oeins.de/lokalsender/mediathek1/201111251830_lokalfenster.html)
- **2011-11-25** Artikel in der NWZ: [&quot;Hackspace&quot; wird eröffnet](http://www.nwzonline.de/Region/Stadt/Oldenburg/Artikel/2745661/Hackspace-wird-er%F6ffnet.html)
- **2011-11-22** Artikel in der Neuen Zeitung: [Mit &quot;Hackern&quot; hat das nichts zu tun](http://issuu.com/gerhard-verlag/docs/neue_zeitung_-_ausgabe_oldenburg_kw_47/3)
- **2011-11-22** Artikel in der Huntesicht: [Wir brauchen mehr Hacker!](http://huntesicht.de/alvar-freude-wir-brauchen-mehr-hacker-2800/)
- **2011-11-20** Artikel in der Oldenburger Sonntagszeitung: [Wenn der Staat das Internet hackt](http://www.die-sonntagszeitungen.de/ausgaben_sz/111120/stadt/pdf/10004.pdf)
- **2011-11-19** Artikel der NWZ: [Thema Staat und Internet](http://www.nwzonline.de/Region/Stadt/Oldenburg/Artikel/2725108/Thema-Staat-und-Internet.html)
- **2011-11-08** Artikel in der HunteS!cht: [Wenn der Staat das Internet hackt](http://www.nwzonline.de/Region/Stadt/Oldenburg/Artikel/2741626/Thema-Staat-und-Internet.html)
- **2011-11-02** Artikel in der NWZ: [Thema Staat und Internet](http://www.nwzonline.de/Region/Stadt/Oldenburg/Artikel/2741626/Thema-Staat-und-Internet.html)
- **2011-10-19** Artikel im Hunte Report: [Ein Ort für kreative Spaß-Tüftler](http://www.huntereport.de/web/cms/ausgaben/111019/oldenburg/index.php?goto=3)
- **2011-09-30** Video-Beitrag im: [Lokalfenster von oldenburg eins (ab 9:22)](http://www.oeins.de/lokalsender/mediathek1/2011093018.30_lokalfenster.html)
- **2011-09-23** Artikel der NWZ: [Tüftler denken gemeinsam nach](http://www.nwzonline.de/Region/Artikel/2696800/T%FCftler-denken-gemeinsam-nach.html)
- **2011-09-23** Video von NWZ-TV: [Des Tüftlers Paradies](http://www.nwzonline.de/Video/Des-Tftlers-Paradies_1175142740001.html)
- **2011-09-18** Artikel im Hunte Report: [Wenn der Lötkolben auf den Mikrocontroller trifft](http://www.huntereport.de/web/cms/ausgaben/110918/oldenburg/index.php?goto=3)
- **2011-09-15** Pressemitteilung der Stadt Oldenburg: [Neuer Oldenburger Verein lädt zum Tüftler-Treffen ein – Offene Elektronik-Bastelwerkstatt vom 20. bis 22. September](http://www.oldenburg.de/stadtol/index.php?id=1481&amp;no_cache=1&amp;reportId=30983)
{%- endfilter %}
        </div>
</div>

{% endblock %}
