---
title: Support!
---

{% extends "default.j2" %}

{% block mainbox %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{ resource.meta.title }}</h3>
	</div>
	<div class="panel-body">
		<h3>Membership</h3>
		<p>Of course we are always searching for new members supporting the
		association financially. More information about that can be found on
		our <a href="{{ content_url("membership.html")|i18n(resource)|dark(resource) }}">Membership</a> page.</p>

		<h3>Money and Item Donations</h3>
		<p>To reach our aims we are also accepting support in terms of
		money or item donations. Since we have been accepted as a non-profit
		registered association, we are able to make out receipts for charitable
		donations; just speak with us (usually the finance authority is fine
		with bank account statements for small amounts of money).</p>

		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-8 col-md-8">
						Oldenburger Volksbank<br>
						IBAN: DE63 2806 1822 0440 7920 00<br>
						BIC: GENODEF1EDE
					</div>
					<div class="col-xs-4 col-md-4">
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
							<input type="hidden" name="cmd" value="_s-xclick" />
							<input type="hidden" name="hosted_button_id" value="74LC3HDX97ZBL" />
							<input type="image" name="submit" src="{{ content_url('media/img/donate.png') }}" alt="Donation via PayPal" />
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-8 col-md-8">
						<a href="{{ content_url('media/img/ueberweisung-qr.png') }}">
							<img src="{{ content_url('media/img/ueberweisung-qr.png') }}" style="max-width: 200px">
						</a>
					</div>
				</div>
			</div>
		</div>

		<h3>Association Support via Partner Program Links</h3>
		<p>If you plan to do an online-purchase, you can support the association
		by visiting the shop using our partner program links. This is free of
		charge for your, but the association gets a commission for each purchase.</p>

		<a href="http://www.amazon.de/?tag=kreattrifftec-21"><img src="{{ content_url('media/img/affiliate/amazon.gif') }}" alt="amazon.de" height="40px" /></a>
		<a href="http://www.getdigital.de/?her=KTT"><img src="{{ content_url('media/img/affiliate/get_digital.png') }}" alt="getDigital.de" height="40px" /></a>
		<a href="http://partners.webmasterplan.com/click.asp?ref=572581&site=4605&type=b1&bnb=1"><img src="{{ content_url('media/img/affiliate/elv.gif') }}" alt="ELV" height="40px" /></a>
		<a href="http://partners.webmasterplan.com/click.asp?ref=572581&site=8948&type=b4&bnb=4"><img src="{{ content_url('media/img/affiliate/reichelt.gif') }}" alt="reichelt.de" height="40px" /></a>
		<a href="http://partners.webmasterplan.com/click.asp?ref=572581&site=2945&type=b229&bnb=229"><img src="{{ content_url('media/img/affiliate/conrad.png') }}" alt="conrad.de" height="40px" /></a>
		<a href="http://www.jacob-computer.de/?ref=1736"><img src="{{ content_url('media/img/affiliate/jacob_elektronik.png') }}" alt="Jacob Elektronik" height="40px" /></a>
		<a href="http://partners.webmasterplan.com/click.asp?ref=572581&site=8883&type=b19&bnb=19"><img src="{{ content_url('media/img/affiliate/redcoon.jpg') }}" alt="redcoon.de" height="80px" /></a>
	</div>
</div>
{% endblock mainbox %}
