---
title: {de: Mainframe Vorträge, en: Mainframe Talks}
no_translation_needed: True
---

{% extends "default.j2" %}

{% block mainbox %}
<div class="panel panel-default">
	<div class="panel-heading">
{% if resource.meta.language == "de" %}
		<h3 class="panel-title">Demnächst stattfindende Vorträge</h3>
{% else %}
		<h3 class="panel-title">Scheduled Talks</h3>
{% endif %}
	</div>
	<div class="panel-body">
		<div class="row">
			{% for res in site.content.node_from_relative_path("talk").walk_resources_sorted_by_time()|reverse if res.meta.status == "scheduled" %}
            {% if not match_lang(res, resource) or not match_dark(res, resource) %} {% continue %} {% endif %}
			{{ render_thumbnail(res, "img/talk.svg") }}
			{% else %}
				<div class="panel-body">
{% if resource.meta.language == "de" %}
					Zur Zeit sind keine weiteren Vorträge geplant!
{% else %}
					Currently no future talks are planned!
{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
{% if resource.meta.language == "de" %}
		<h3 class="panel-title">Bereits stattgefundene Vorträge</h3>
{% else %}
		<h3 class="panel-title">Previous Talks</h3>
{% endif %}
	</div>
	<div class="panel-body">
		<div class="row">
			{% for res in site.content.node_from_relative_path("talk").walk_resources_sorted_by_time() if res.meta.status != "scheduled" %}
            {% if not match_lang(res, resource) or not match_dark(res, resource) %} {% continue %} {% endif %}
			{{ render_thumbnail(res, "img/talk.svg") }}
			{% else %}
				<div class="panel-body">
{% if resource.meta.language == "de" %}
					Bisher haben keine Vorträge stattgefunden!
{% else %}
					No talk has happened so far!
{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock mainbox %}
