{# default page template #}

{% from "macros.j2" import render_thumbnail with context %}
{% extends "two-column.j2" %}

{% block css %}
	<link href="{{ media_url('js/libs/gcalflow/jquery.gcal_flow.css') }}" rel="stylesheet">
	{{ super() }}
{% endblock css %}

{% block sidebox %}
<div class="panel panel-default">
	<div class="panel-heading"><a href="//status.kreativitaet-trifft-technik.de">Status</a></div>
	<div class="panel-body">
		<div id="status">Space Status Unbekannt.</div>
	</div>
</div>

<div class="panel panel-default panel-sponsors">
	<div class="panel-heading">
		{% if lang == "de" -%}
			Sponsoren
		{% else -%}
			Sponsors
		{% endif -%}
	</div>
	<div class="panel-body" style="text-align: center;">
		<a href="http://www.wuerttembergische.de/oliver.majer">
			<img src="{{ media_url('img/sponsor1.jpg') }}" alt="Württembergische" />
		</a>
		<br><br>
		<!--<a href="https://www.ovh.com/cgi-bin/partners/clickCounter.cgi?affiliation=de">-->
        <a href="https://www.ovh.de/events/get-details.xml?id=RS03714">
			<!--<img src="{{ media_url('img/sponsor2.png') }}" alt="OVH" />-->
            <img src="{{ media_url('img/ovh-world-tour-2.jpg') }}" alt="OVH" />
		</a>
	</div>
</div>

<div class="panel panel-default hidden-xs hidden-sm">
	<div class="panel-heading"><a href="calendar.html">
		{% if lang == "de" -%}
			Termine
		{% else -%}
			Dates
		{% endif -%}
	</a></div>
	<div class="panel-body">
		<div id="gcf-simple">
			<div class="gcf-item-container-block">
				<div class="gcf-item-block">
					<div class="gcf-item-header-block">
						<div class="gcf-item-date-block">
							[<span class="gcf-item-daterange"></span>]
						</div>
						<div class="gcf-item-title-block">
							<strong class="gcf-item-title"></strong>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock sidebox %}

{% block scripts %}
	<script src="{{ media_url('js/libs/gcalflow/jquery.gcal_flow.min.js') }}"></script>

	<script src="{{ media_url('js/libs/status.js') }}"></script>

	<script type="text/javascript">
		spaceStatusPoll();
	</script>

	<script type="text/javascript">
		function leadingZero(value) {
			return (value < 10) ? '0' + value : value;
		}

		$(document).ready(function() {
			$(function() { $('#gcf-simple').gCalFlow({
				calid: 'markusframer@gmail.com',
				maxitem: 5,
				daterange_formatter: function(ds, de, allday_p) {
					var dayoftheweek = [ "So", "Mo", "Di", "Mi", "Do", "Fr", "Sa" ];
					var monthname = [ "Jan", "Feb", "Mär", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez" ];
					var base = dayoftheweek[ds.getDay()] + ", " + ds.getDate() + ". " + monthname[ds.getMonth()];
					var times = leadingZero(ds.getHours()) + ":" + leadingZero(ds.getMinutes()) + " - " + leadingZero(de.getHours()) + ":" + leadingZero(de.getMinutes());

					if(ds.getDate() != de.getDate() || ds.getMonth() != de.getMonth())
						return base + " - " + de.getDate() + ". " + monthname[de.getMonth()]

					if(allday_p)
						return base

					return base + ", " + times
				}
			});});
		});
	</script>

	<script type="text/javascript">
		spaceStatusPush();
	</script>

	{{ super() }}
{% endblock scripts %}
