{# default page template #}

{% from "macros.j2" import render_thumbnail with context %}
{% extends "two-column.j2" %}

{% block css %}
	<link href="{{ media_url('js/libs/gcalflow/jquery.gcal_flow.css') }}" rel="stylesheet">
	{{ super() }}
{% endblock css %}

{% block sidebox %}
<div class="panel panel-default">
	<div class="panel-heading"><a href="//status.kreativitaet-trifft-technik.de">Status</a></div>
	<div class="panel-body">
		<div id="status">Space Status Unbekannt.</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Sponsoren</div>
	<div class="panel-body" style="text-align: center;">
		<a href="http://www.wuerttembergische.de/oliver.majer">
			<img src="{{ media_url('img/sponsor1.jpg') }}" alt="Württembergische" />
		</a>
		<br><br>
		<a href="https://www.ovh.com/cgi-bin/partners/clickCounter.cgi?affiliation=de">
			<img src="{{ media_url('img/sponsor2.png') }}" alt="OVH" />
		</a>
	</div>
</div>

<div class="panel panel-default hidden-xs hidden-sm">
	<div class="panel-heading"><a href="events.html">Termine</a></div>
	<div class="panel-body">
		<div id="gcf-simple">
			<div class="gcf-item-container-block">
				<div class="gcf-item-block">
					<div class="gcf-item-header-block">
						<div class="gcf-item-date-block">
							[<span class="gcf-item-daterange"></span>]
						</div>
						<div class="gcf-item-title-block">
							<strong class="gcf-item-title"></strong>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock sidebox %}

{% block scripts %}
	<script src="{{ media_url('js/libs/gcalflow/jquery.gcal_flow.min.js') }}"></script>

	<script src="{{ media_url('js/libs/status.js') }}"></script>

	<script type="text/javascript">
		spaceStatusPoll();
	</script>

	<script type="text/javascript">
		$(document).ready(function() {
			$(function() { $('#gcf-simple').gCalFlow({
				calid: 'markusframer@gmail.com',
				maxitem: 5
			});});
		});
	</script>

	<script type="text/javascript">
		spaceStatusPush();
	</script>

	{{ super() }}
{% endblock scripts %}
