{# default page template #}

{% from "macros.j2" import render_thumbnail with context %}
{% extends "two-column.j2" %}


{% block css %}
    {%- if addGalleryBlock %}
    <link rel="stylesheet" type="text/css" href="{{ media_url('css/lightbox/ekko-lightbox.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ media_url('css/lightbox/dark.css') }}"/>
    {% endif -%}
	<link href="{{ media_url('js/libs/gcalflow/jquery.gcal_flow.css') }}" rel="stylesheet">
	{{ super() }}
{% endblock css %}

{% block infobox %}
	{% if resource.meta.auto_generated_language == True and resource.meta.no_translation_needed is not defined -%}
				<p class="alert alert-info">
				{% if resource.meta.language == "de" -%}
					Sorry, diese Seite wurde noch nicht auf Deutsch übersetzt.
				{% elif resource.meta.language == "en" -%}
					Sorry, but this page has not yet been translated to English.
				{% endif -%}
				</p>
	{% endif -%}

	{{ super() }}
{% endblock infobox %}

{% block sidebox %}
<div class="panel panel-default">
	<div class="panel-heading"><a href="//status.kreativitaet-trifft-technik.de">Status</a></div>
	<div class="panel-body">
		{% if resource.meta.language == "de" -%}
		<div id="status">Space Status Unbekannt.</div>
		{% else -%}
		<div id="status">Space Status Unknown.</div>
		{% endif -%}
	</div>
</div>

<div class="panel panel-default panel-sponsors">
	<div class="panel-heading">
        <a href="{{ content_url('sponsors/index.html') }}">
		{% if resource.meta.language == "de" -%}
			Sponsoren
		{% else -%}
			Sponsors
		{% endif -%}
        </a>
	</div>
	<div class="panel-body text-center">
		<a href="http://www.wuerttembergische.de/oliver.majer" class="link-sponsor">
			<img src="{{ media_url('img/sponsors/wuert.jpg') }}" alt="Württembergische" />
		</a>

        <a href="{{ content_url('sponsors/index.html') }}" class="link-sponsor sponsor-wirtol">
            <img src="{{ media_url('img/sponsors/Wirtschaftsfoerderung_OL.png') }}" alt="Wirtschaftsförderung_OL" />
        </a>

        <a href="{{ content_url('sponsors/index.html') }}" class="link-sponsor sponsor-ikn2020">
            <img src="{{ media_url('img/sponsors/Logo_ikn2020_final.png') }}" alt="IKN 2020" />
        </a>
	</div>
</div>

<div class="panel panel-default hidden-xs hidden-sm">
	<div class="panel-heading"><a href="{{ content_url('calendar.html')|i18n(resource)|dark(resource) }}">
		{% if resource.meta.language == "de" -%}
			Termine
		{% else -%}
			Dates
		{% endif -%}
	</a></div>
	<div class="panel-body">
		<div id="gcf-simple">
			<div class="gcf-item-container-block">
				<div class="gcf-item-block">
					<div class="gcf-item-header-block">
						<div class="gcf-item-date-block">
							[<span class="gcf-item-daterange"></span>]
						</div>
						<div class="gcf-item-title-block">
							<strong class="gcf-item-title"></strong>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock sidebox %}

{% block scripts %}

    {%- if addGalleryBlock %}
    <script type="text/javascript" src="{{ media_url('js/lightbox/ekko-lightbox.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function ($) {
            // delegate calls to data-toggle="lightbox"
            $(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
                event.preventDefault();
                return $(this).ekkoLightbox({
                    always_show_close: true
                });
            });
        });
    </script>
    {% endif -%}


	<script src="{{ media_url('js/libs/gcalflow/jquery.gcal_flow.js') }}"></script>

	<script src="{{ media_url('js/libs/status.js') }}"></script>

	<script type="text/javascript">
		spaceStatusPoll();
	</script>

	<script type="text/javascript">
		function leadingZero(value) {
			return (value < 10) ? '0' + value : value;
		}

		$(document).ready(function() {
			$(function() { $('#gcf-simple').gCalFlow({
				apikey: '{{ calendar.google_api_key }}',
				calid: '{{ calendar.google_cal_id }}',
				maxitem: 5,
				daterange_formatter: function(ds, de, allday_p) {
					var dayoftheweek = [ "So", "Mo", "Di", "Mi", "Do", "Fr", "Sa" ];
					var monthname = [ "Jan", "Feb", "Mär", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez" ];
					var base = dayoftheweek[ds.getDay()] + ", " + ds.getDate() + ". " + monthname[ds.getMonth()];
					var times = leadingZero(ds.getHours()) + ":" + leadingZero(ds.getMinutes()) + " - " + leadingZero(de.getHours()) + ":" + leadingZero(de.getMinutes());

					if(ds.getDate() != de.getDate() || ds.getMonth() != de.getMonth())
						return base + " - " + de.getDate() + ". " + monthname[de.getMonth()]

					if(allday_p)
						return base

					return base + ", " + times
				}
			});});
		});
	</script>

	<script type="text/javascript">
		spaceStatusPush();
	</script>

	{{ super() }}
{% endblock scripts %}
