{# layout for groups #}

{% extends "default.j2" %}

{% block mainbox %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{ resource.meta.title }}</h3>
	</div>
	<div class="panel-body">
		{% block description %}
		{% endblock description %}

		<h3>Durchgeführte Projekte</h3>
		<div class="row">
			{% for res in site.content.node_from_relative_path("project").walk_resources_sorted_by_time() if res.meta.group == resource.meta.id %}
			<div class="col-xs-6 col-md-3 vbottom">
				<div class="caption"><h4>{{ res.meta.title }}</h4></div>
				<a href="{{ content_url(res.url) }}" class="thumbnail">
					{% if res.meta.thumbnail is defined %}
					<img src="{{ content_url(res.meta.thumbnail) }}" alt="{{ res.meta.title }}">
					{% else %}
					<img src="{{ media_url("img/project.svg") }}" alt="{{ res.meta.title }}">
					{% endif %}
				</a>
			</div>
			{% else %}
				<div class="col-xs-12 col-md-12">
					<div class="alert alert-info">
						Diese Gruppe hat bis jetzt keine Projekte durchgeführt.
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock mainbox %}
