{# layout for groups #}

{% extends "default.j2" %}

{% block mainbox %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{ resource.meta.title }}</h3>
	</div>
	<div class="panel-body">
		{% block description %}
		{% endblock description %}

		<h3>Durchgeführte Projekte</h3>
		<div class="row">
			{% for res in site.content.node_from_relative_path("project").walk_resources_sorted_by_time() if res.meta.group == resource.meta.id %}
			{% if res.language != resource.language %} {% continue %} {% endif %}
			{{ render_thumbnail(res, "img/project.svg") }}
			{% else %}
				<div class="col-xs-12 col-md-12">
					<div class="alert alert-info">
						Diese Gruppe hat bis jetzt keine Projekte durchgeführt.
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock mainbox %}
