{% macro render_main_menu() -%}

{% for item in menu -%}
	{% set lang = "de" -%}
	{% set active = False -%}

	{% if item.type == 'menu' -%}
		<li class="dropdown
		{% if resource.meta.parent_menu_entry == item.basename -%}
				active
		{% else -%}
		{% for subitem in item.menu -%}
			{% if site.content.resource_from_relative_path(subitem.url).url == resource.url -%}
				active
			{%- endif %}
		{%- endfor %}
		{%- endif %}
		">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				{% if item.title is string -%}
					{{ item.title }}
				{% else -%}
					{{ item.title[lang] }}
				{% endif -%}
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				{% for subitem in item.menu -%}
					{% if subitem.type == 'external' %}
						{% set url = subitem.url %}
					{% else %}
						{% set url = content_url(subitem.url) %}
					{% endif %}
					<li><a href="{{ url }}">
						{% if subitem.title is string -%}
							{{ subitem.title }}
						{% else -%}
							{{ subitem.title[lang] }}
						{% endif -%}
					</a></li>
				{%- endfor %}
			</ul>
		</li>
	{% else -%}
		{% if item.type == 'page' -%}
			{% set active = (resource.url ==
				site.content.resource_from_relative_path(item.url).url) -%}
		{% else -%}
			{% set active = (node ==
				site.content.node_from_relative_path(item.url)) -%}
		{%- endif %}
		<li {% if active %}class="active"{% endif %}>
			<a href="{{ content_url(item.url) }}">
				{% if item.title is string -%}
					{{ item.title }}
				{% else -%}
					{{ item.title[lang] }}
				{% endif -%}
			</a>
		</li>
	{%- endif %}
{%- endfor %}

{%- endmacro %}

{% macro render_sidebar() -%}
<ul class="nav nav-list">
    <li class="nav-header">Sidebar</li>
{% for sidebar_item in sidebar -%}
  <li{% if sidebar_item.url == resource.url or sidebar_item.active %} class="active"{% endif %}><a href="{{ sidebar_item.url }}">{{ sidebar_item.title }}</a></li>
{%- endfor %}
</ul>
{%- endmacro %}

{% macro render_excerpt(res, class=None) %}
{% refer to res.relative_path as post %}
<div class="container">
<h3><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h3>
<p><small>
  <time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
    Posted: {{ res.meta.created.strftime('%a, %d %b %Y') }}
  </time>
</small></p>
{{ post.excerpt|markdown|typogrify }}<a href="{{ content_url(res.url) }}">Read more&hellip;</a>
</div>
{% endmacro %}

{% macro render_thumbnail(res, fallback_thumbnail) %}
<div class="col-xs-6 col-md-4 vbottom">
	<div class="caption"><h4>{{ res.meta.title }}</h4></div>
	<a href="{{ content_url(res.url) }}" class="thumbnail">
		{% if res.meta.thumbnail is defined %}
		<img src="{{ content_url(res.meta.thumbnail) }}" alt="{{ res.meta.title }}">
		{% else %}
		<img src="{{ media_url(fallback_thumbnail) }}" alt="{{ res.meta.title }}">
		{% endif %}
	</a>
</div>
{% endmacro %}

{% macro render_event_excerpt(res, class="") %}
<li class="list-group-item row {{ class }}">
	<div class="col-xs-6 col-md-3">
		<a href="{{ content_url(res.url) }}">
			{% if res.meta.thumbnail is defined %}
			<img src="events/{{ res.meta.thumbnail }}" alt="" style="max-height: 150px; max-width: 150px;" class="img-thumbnail"/>
			{% else %}
			<img src="{{ media_url("img/event.svg") }}" alt="" style="max-height: 150px; max-width: 150px;" class="img-thumbnail"/>
			{% endif %}
		</a>
	</div>
	<div class="col-xs-6 col-md-9">
		<small class="date">{{res.meta.created.strftime("am %d.%m.%Y um %H:%M Uhr")}}</small>
		<h3><a href="{{ content_url(res.url) }}"> {{ res.meta.title }}</a></h3>
		<p>{{ res.meta.teaser }}</p>
	</div>
</li>
{% endmacro %}

{% macro render_gallery(id, directory) %}
<ul id="{{id}}" class="list-inline">
    {# I just want to walk non recursive, but this seems imposable, therefore,
    I check that the parent directory is NOT 'thumbs' #}
    {%set imgpath = site.content.node_from_relative_path(directory) %}
    {% for image in imgpath.walk_resources()
        if image.source_file.kind in ("jpg","png") and
        image.source_file.parent.name != "thumbs" %}
    <li>
        <a href="{{ content_url(directory + '/' + image.name) }}" class="thumbnail" data-toggle="lightbox" data-gallery="multiimages"
            data-parent="#{{id}}" data-title="{{image.name}}" title="{{image.name}}">
            <img src="{{ content_url(directory + '/thumbs/' + image.name) }}" alt="{{image.name}}">
        </a>
    </li>
    {% endfor %}
</ul>
{% endmacro %}
