{# layout for series of events #}

{% extends "default.j2" %}
{% from "macros.j2" import render_event_excerpt with context %}

{% block mainbox %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{ resource.meta.title }}</h3>
	</div>
	<div class="panel-body">
		{% block description %}
		{% endblock description %}

		<h3>Zugeordnete Events</h3>
		<div class="row">
			{% for res in site.content.node_from_relative_path("events").walk_resources_sorted_by_time() if res.meta.series == resource.meta.id %}
			{% if res.language != resource.language %} {% continue %} {% endif %}
			<!-- foo -->
			{{ render_event_excerpt(res, "borderless no-list-margin") }}
			{% else %}
				<div class="col-xs-12 col-md-12">
					<div class="alert alert-info">
						Diese Veranstaltungsreihe hat bis jetzt keine Veranstaltungen durchgeführt.
					</div>
				</div>
			{% endfor %}
		</div>


	</div>
</div>
{% endblock mainbox %}
