{# layout for group index #}

{% extends "default.j2" %}

{% block mainbox %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{ resource.meta.title }}</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			{% for res in site.content.node_from_relative_path(resource.meta.type).walk_resources_sorted_by_time() if resource.meta.title is not defined or resource.meta.subtype == res.meta.type %}
			{% if res.language != resource.language %} {% continue %} {% endif %}
			{% if resource.meta.type == "group" %}
			{{ render_thumbnail(res, "img/group.svg") }}
			{% elif resource.meta.type == "project" %}
			{{ render_thumbnail(res, "img/project.svg") }}
			{% endif %}
			{% else %}
			<div class="col-xs-12 col-md-12">
				<div class="alert alert-info">
					{% if resource.meta.type == "group" %}
					Hier sind bisher keine Gruppen einsortiert.
					{% elif resource.meta.type == "project" %}
					Hier sind bisher keine Projekte einsortiert.
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock mainbox %}
