{# Adds in the topbar #}

{% extends "base.j2" %}



{% block body %}
<div class="container">
	<div class="navbar navbar-default navbar-default" role="navigation">
	  {% block topbar %}
		<div class="navbar-header" style="vertical-align: middle;">
		  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="{{ content_url(home_url)|i18n(resource.language) }}" style="padding-top: 10px; padding-bottom: 10px;">
			<img src="{{ media_url('img/mainframe-long.svg') }}" alt="Mainframe" style="height: 28px;" />
		  </a>
		</div><!-- /.navbar-header -->
		<div class="collapse navbar-collapse">
		  <ul class="nav navbar-nav">
			{% from "macros.j2" import render_main_menu with context %}
			{{ render_main_menu() }}
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-bottom: 10px; padding-top: 10px;">
				<div class="hidden-xs"><img src="{{ media_url('img/lang/lang.svg') }}" alt="Language" style="height: 28px;" /> <b class="caret"></b></div>
				<div class="visible-xs">Language <b class="caret"></b></div>
			  </a>
				<ul class="dropdown-menu">
				  <li><a href="{{ content_url(resource.url)|i18n("de") }}"><img src="{{ media_url('img/lang/de.png') }}" /> German</a></li>
				  <li><a href="{{ content_url(resource.url)|i18n("en") }}"><img src="{{ media_url('img/lang/en.png') }}" /> English</a></li>
				</ul>
			</li>
		  </ul>
		</div><!-- /.nav-collapse -->
	  {% endblock topbar %}
	</div><!-- /.navbar -->

	{{ super() }} {# Use this to include the rest of the body block as it was originally defined #}
</div>
{% endblock body %}
