{# two columns template #}

{% extends "topbar.j2" %}

{% block container %}
<div class="row">
	<div class="col-md-3 col-md-push-9">
		{% block sidebox %}{% endblock sidebox %}
	</div>
	<div class="col-md-9 col-md-pull-3">
		{% block infobox %}{% endblock infobox %}
		{% block mainbox %}{% endblock mainbox %}
	</div>
</div>
{% endblock container %}
