---
title: Sponsoren
extends: default.j2
---

{% block mainbox %}

<div class="panel panel-default page-sponsors">
    <div class="panel-heading">
        <h3 class="panel-title">Sponsoren</h3>
    </div>
    <div class="panel-body">
        Ohne unsere Sponsoren wäre die Ziele von unserem Verein viel schwieriger umzusetzen. Wir bedanken uns daher bei den folgenden Unternehmen.

        <div class="sponsor-detail">
            <h3>Württembergische Versicherung AG</h3>
            <a href="http://www.wuerttembergische.de/oliver.majer">Oliver Majer von der Württembergische Versicherung AG</a>
        </div>

        <div class="sponsor-detail">
            <h3>ikn2020 - Wirtschaftsförderung Stadt Oldenburg</h3>
            Bei der Durchführung unserer öffentlichen Veranstaltungen unterstützt uns die Stadt Oldenburg über der Initiative <a href="http://www.ikn2020.de">ikn2020</a>.
        </div>

        <div class="sponsor-detail">
            <h3>OVH</h3>
            Wir bekommen von unserem Sponsor <a href="http://www.ovh.de">OVH</a> einen Root-Server zur Verfügung gestellt, auf dem unsere komplette Webseite
            gehostet wird. OVH ist der europäischer Marktführer und einer der weltweit führenden Anbieter von IT-Infrastrukturen.

            <div class="sponsor-ovh-news" id="sponsor-ovh-iframe">
                Lade OVH News...
            </div>
        </div>
    </div>
</div>
{% endblock mainbox %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        var iframe = $('<iframe style="opacity: 0"></iframe>');
        iframe.one('load', function () {
            var head = iframe.contents().find('head');
            // remove any page styling
            head.find('style').empty();
            var url = '{{ media_url("css/ovh-news-iframe.css") }}';
            head.append($('<link rel="stylesheet" type="text/css" href="' + url + '">'));

            // wait 0,5 sec and then fade in the iframe
            // with this trick the iframe hopefully get enough time to load it's new css file
            window.setTimeout(function () {
                iframe.animate({'opacity': '1'});
            }, 500);
        });
        iframe.attr('src', 'sponsor-ovh-news.inc.html');
        $('#sponsor-ovh-iframe').empty().append(iframe);
    });
</script>
{{ super() }}
{% endblock scripts %}